/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
    flex: 1 1 auto;
}

.flex-cards{
    display: grid;
    gap: 10px;
}

.card{
    width: 100px;
    height: 100px;
}

.flex-heroe{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.img-heroe-component{
    width: 100%;
    border-radius: 25px;
}

.heroe-title{
    text-align: center;
}

.span-heroe{
    font-weight: bolder;
    margin-right: 3px;
}
/* MEDIA QUERIES */
@media all and (min-width: 481px) and (max-width: 768px){
    .flex-cards, .flex-heroe{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    .flex-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .flex-heroe{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-heroe-component{
        width: 350px;
        height: 500px;
    }
}
@media all and (min-width: 1025px) {
    .flex-cards{
        grid-template-columns: repeat(4, 1fr);
    }
    .flex-heroe{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-heroe-component{
        width: 350px;
        height: 500px;
        margin-top: 10px;
        margin-left: 170px;
    }
}